.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-font-smoothing: antialiased;
}
p {
  margin: 0 0 11px;
}
.lead {
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 200;
  line-height: 33px;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 22px 0 11px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 22px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
h2,
h3 {
  line-height: 44px;
}
h1 {
  font-size: 44px;
  margin-bottom: 40px;
  font-weight: 300;
  line-height: 130%;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 13.6px;
}
h1 small {
  font-size: 28px;
}
h2 small {
  font-size: 20px;
}
h3 small {
  font-size: 16px;
}
h4 small {
  font-size: 16px;
}
ul,
ol {
  padding: 0;
  margin: 0 0 11px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 22px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-bottom: 22px;
}
dt,
dd {
  line-height: 22px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 11px;
}
hr {
  margin: 22px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 22px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote small {
  display: block;
  line-height: 22px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 22px;
  font-style: normal;
  line-height: 22px;
}
body {
  margin: 0;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #394755;
  background-color: #ffffff;
}
.container {
  position: relative;
  max-width: 980px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
}
a {
  color: #11acee;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
a:hover,
a:focus {
  color: #0c78a7;
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 600px;
  margin: 0 auto;
  display: block;
  outline: 0;
}
.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  right: 0;
}
.github-fork-ribbon-wrapper .github-fork-ribbon {
  position: absolute;
  padding: 2px 0;
  background-color: #ee5311;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  top: 42px;
  right: -43px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.github-fork-ribbon-wrapper .github-fork-ribbon a,
.github-fork-ribbon-wrapper .github-fork-ribbon a:hover,
.github-fork-ribbon-wrapper .github-fork-ribbon a:focus {
  font-size: 13px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 200px;
  line-height: 20px;
  display: inline-block;
  padding: 2px 0;
  border: 1px dotted rgba(255, 255, 255, 0.7);
}
footer {
  *zoom: 1;
  margin: 70px 0 0 0;
  padding: 0px 0;
  font-size: 14px;
  text-align: right;
  color: #555555;
}
footer:before,
footer:after {
  display: table;
  content: "";
  line-height: 0;
}
footer:after {
  clear: both;
}
footer a {
  color: #555555;
}
footer a:hover,
footer a:focus {
  color: #222222;
}
code,
kdb,
pre,
samp {
  font-family: 'Inconsolata', 'Inconsolata-dz', Monaco, Menlo, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 95%;
  color: #ee5311;
  background-color: #f7f7f9;
  white-space: nowrap;
  -webkit-font-smoothing: auto;
}
a code {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
a:hover code,
a:focus code {
  color: #a73a0c;
}
pre {
  display: block;
  padding: 10.5px;
  margin: 0 0 11px;
  font-size: 15px;
  line-height: 22px;
  word-break: break-all;
  word-wrap: break-word;
  color: #394755;
  background-color: #f7f7f9;
  border: 1px solid #cccccc;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
}
.pln {
  color: #000000;
}
/* plain text */
@media screen {
  .str {
    color: #008800;
  }
  /* string content */
  .kwd {
    color: #000088;
  }
  /* a keyword */
  .com {
    color: #880000;
  }
  /* a comment */
  .typ {
    color: #660066;
  }
  /* a type name */
  .lit {
    color: #006666;
  }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun,
  .opn,
  .clo {
    color: #666600;
  }
  .tag {
    color: #000088;
  }
  /* a markup tag name */
  .atn {
    color: #660066;
  }
  /* a markup attribute name */
  .atv {
    color: #008800;
  }
  /* a markup attribute value */
  .dec,
  .var {
    color: #660066;
  }
  /* a declaration; a variable name */
  .fun {
    color: #ff0000;
  }
  /* a function name */
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #004444;
  }
  .pun,
  .opn,
  .clo {
    color: #444400;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #440044;
  }
  .atv {
    color: #006600;
  }
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  padding: 0;
  margin: 0 0 0 33px;
  /* IE indents via margin-left */

}
ol.linenums li {
  padding: 0;
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
.yo {
  color: #ee5311;
}
.yg {
  color: #898989;
}
